body{
    background-image:url(https://images.hdqwalls.com/download/stars-fields-4k-px-3840x2160.jpg);
}

.yes.btn{
    font-size:20px;
    background-color: purple;
    border-width: 5px;
}
.end.btn{
    font-size:20px;
    background-color: rgb(223, 104, 0);
    border-width: 5px;
    color:purple;
}
#results{
    background-color:rgba(255, 98, 0, 0.454);
    color: rgb(244, 195, 0);
    font-size: 18px;
}
#join{
    margin-top: 250px;
}
#ftext{
    font-size:23px;
    background-color: rgba(48, 0, 103, 0.276);
}
#ptext{
    font-size:20px;
}
#navhome{
    font-size: 23px;
    color:rgb(250, 221, 104);
}
#navdash{
    font-size: 23px;
    color:rgb(255, 150, 37);
}
#navapi{
    font-size: 23px;
    color:rgb(255, 66, 66);
}
#navinvest{
    font-size: 23px;
    color:rgb(255, 255, 255);
}
#navbutton{
    background-color: rgba(255, 137, 64, 0);
    color: white;
    font-size: 23px;
}
#droptext1{
    background-color: rgb(9, 0, 104);
    font-size: 23px;
}
#droptext2{
    background-color: rgb(86, 0, 123);
    font-size: 23px;
}
#droptext3{
    background-color: rgb(149, 0, 157);
    font-size: 23px;
}

.navbar-toggler.collapsed{
    border-color: rgb(255, 255, 255);
  } 