body{
    background-image:url(https://images.hdqwalls.com/download/stars-fields-4k-px-3840x2160.jpg);
}
#help{
    bottom: 30px;
}

.yes.btn{
    font-size:25px;
    background-color: rgb(223, 104, 0);
    border-width: 5px;
}
.end.btn{
    font-size:25px;
    background-color: rgb(223, 104, 0);
    border-width: 5px;
    color:purple;
}
#results{
    background-color:rgb(223, 104, 0);
    outline: auto;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
#join{
    margin-top: 250px;
}
#ftext{
    font-size:18px;
}
#ptext{
    font-size:18px;
}
#navhome{
    font-size: 18px;
    color:rgb(255, 255, 255);
} 
#navdash{
    font-size: 18px;
    color:rgb(255, 255, 255);
}
#navapi{
    font-size: 18px;
    color:rgb(255, 255, 255);
}
#navinvest{
    font-size: 18px;
    color:rgb(255, 255, 255);
}
#navbutton{
    background-color: rgba(255, 137, 64, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
}
#droptext1{
    font-size: 16px;
}
#droptext2{
    font-size: 16px;
}
#droptext3{
    font-size: 16px;
}

.navbar-toggler.collapsed{
    border-color: rgb(255, 255, 255);
  } 
.next.btn{
    font-size:17px;
    background-color: rgb(223, 104, 0);
    border-width: 5px;
    color:rgb(255, 255, 255);
    justify-content: center;
}
.back.btn{
    font-size:17px;
    background-color: rgb(223, 104, 0);
    border-width: 5px;
    color:rgb(255, 255, 255);
    justify-content: center;
}
#textinfo{
    font-size:25px;
    background-color: rgba(223, 104, 0, 0.879);
    border-width: 5px;
    border-style: ridge;
    color:rgb(255, 255, 255);
    justify-content: center;
    border-color: white;
}

.loginforms{
    width:480px;
    margin:auto;
}

#ressubmit{
    justify-content: center;
}
#reitext{
    font-size: 20px;
    color:white;
}
.use{
    width:300px;
}
.usersignup{
    width:280px;
    margin: auto;
}

#rentalforms{
    width:280px;
}

fieldset{
    width: 350px; 
    margin: auto;
}
.profileinfo{
    width:350px;
    margin:auto;
}
.renttext{
    color:rgba(255, 255, 255, 0.776);
    font-weight: bolder;
    font-size:18px;
}
#rentalcalcimage{
    width:50px;
    height:50px;
}
.plot{
    width:900px;
    height:350px;
}
.calcleft{
padding-right: 50px;
}
.calcright{
padding-left: 50px;
}
.imgcalc{
    width:480px;
    height:300px;
}
#plots{
    width:900px;
    height:350px;
}