body{
    background-image:url(https://images.hdqwalls.com/download/stars-fields-4k-px-3840x2160.jpg);
}

.yes.btn{
    font-size:25px;
    background-color: purple;
    border-width: 5px;
}
.end.btn{
    font-size:25px;
    background-color: rgb(223, 104, 0);
    border-width: 5px;
    color:purple;
}
#results{
    background-color:rgb(223, 104, 0);
    outline: auto;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
#join{
    margin-top: 250px;
}
#ftext{
    font-size:18px;
}
#ptext{
    font-size:18px;
}
#navhome{
    font-size: 18px;
    color:rgb(255, 255, 255);
} 
#navdash{
    font-size: 18px;
    color:rgb(255, 255, 255);
}
#navapi{
    font-size: 18px;
    color:rgb(255, 255, 255);
}
#navinvest{
    font-size: 18px;
    color:rgb(255, 255, 255);
}
#navbutton{
    background-color: rgba(255, 137, 64, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
}
#droptext1{
    font-size: 18px;
}
#droptext2{
    font-size: 18px;
}
#droptext3{
    font-size: 20px;
}

.navbar-toggler.collapsed{
    border-color: rgb(255, 255, 255);
  } 
.next.btn{
    font-size:20px;
    background-color: rgb(223, 104, 0);
    border-width: 5px;
    color:rgb(255, 255, 255);
    justify-content: center;
}
.back.btn{
    font-size:20px;
    background-color: rgb(223, 104, 0);
    border-width: 5px;
    color:rgb(255, 255, 255);

    justify-content: center;
}
fieldset{
    width: 480px; 
    margin: auto;
}

#ressubmit{
    justify-content: center;
}
#reitext{
    font-size: 18px;
}