{% extends 'components/layout.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="container px-4 py-5 text-light" id="icon-grid">
    <div class="display-4 fw-bold lh-1 mb-3 pb-2 border-bottom">
        <img src="../../static/images/rocketlogin.png">
    </div>
<br>
    <img class = "border border-white" src="../../static/images/login.gif">
<br>
<br>
    <div class="container text-white bg-dark">
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-1 bg-dark">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3 text-white bg-dark">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-light" type="submit">Login</button>
                <hr class="my-4">
                <small class="text-muted">Welcome back!</small>
            </form>
        </div>
    </div>
    {% endblock content %}