{% extends 'components/layout.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="container px-4 py-5 text-light" id="icon-grid">
    <div class="display-4 fw-bold lh-1 mb-3 pb-2 border-bottom">
        <img src="../../static/images/rocketlogin.png">
    </div>
    <br>
    <img class="border border-white" src="../../static/images/login.gif">
    <div class="container text-white bg-dark">
        <div class="col-md-10 mx-auto col-lg-5">
            <form method="POST" class="p-4 p-md-5 rounded-1 bg-dark">
                {{ form.hidden_tag() }}
                <div class="containter id=placeinfo">
                    <div class="form-group">
                        <fieldset id="username-field">
                            {{ form.username(class="form-control", placeholder="Enter Your Username") }}
                        </fieldset>
                        <br>
                        <fieldset id="password-field">
                            {{ form.password(class="form-control", placeholder="Enter Your Password") }}
                        </fieldset>
                        <br>
                        {{ form.submit(class="btn btn-block btn-info btn-danger") }}
                        <hr class="my-4">
                        <small class="text-muted">Welcome Back!</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock content %}