{% extends 'components/layout.html' %}

{% block title %}Logout{% endblock title %}

{% block content %}
<br>
<br>
<div class="container px-4 py-5 text-light" id="icon-grid">
    <h1 class="display-4 fw-bold lh-1 mb-3 pb-2 border-bottom">You've Logged Out</h1>
    <p class="container justify-content-center col-lg-10 fs-4">Come back soon!</p>
    <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </div>
</div>
{% endblock content %}