{% extends 'components/layout.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="container px-4 py-2 text-light" id="icon-grid">
    <div class="display-4 fw-bold lh-1 mb-3 pb-2 border-bottom">
        <img src="../static/images/rocketsignup.png">
    </div>
</div>
<div>
    <img class= "border border-white" src="../static/images/leo.gif">
</div>
<p class="container justify-content-center col-lg-10 fs-4 text-white">
    <br>
</p>

<div class="container text-white bg-dark">
    <div class="col-md-10 mx-auto col-lg-5">
        <h4>We look forward to working together!</h4>
        <form action= "" class="p-4 p-md-5 border rounded-1 bg-dark">
            <div class="form-floating mb-3">
                <fieldset id=“username-field>
                    {{ form.username.label }}
                    {{ form.username(class="form-control", placeholder="Check Username Availability") }}
                </fieldset>
                <!--<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>-->
            </div>
            <div class="form-floating mb-3 text-white bg-dark">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-light" type="submit">Sign Up</button>
            <hr class="my-4">
            <small class="text-muted">By clicking Sign Up, you agree to our terms of use.</small>
            <small class="text-muted">Never share your username and password!</small>
        </form>
    </div>
</div>
{% endblock content %}