{% extends 'components/layout.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}

<div class="container px-4 py-4 text-light">
    <div>
        <img src="../static/images/rocketsignup.png">
    </div>

    <br>
    
    <div>
        <img class="border border-white" src="../static/images/leo.gif">
    </div>

    <div class="row text-white my-3">
        <div class="mx-auto">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="container id=placeinfo">
                    <div class="form-group">
                        <fieldset id="username-field">
                            {{form.username.label}}
                            {{form.username(class="form-control text-center", placeholder="Enter Your Username")}}
                        </fieldset>
                        <br>
                        <fieldset id="email-field">
                            {{form.email.label}}
                            {{form.email(class="form-control text-center", placeholder="Enter Your Email (rocket@gmail.com)")}}
                        </fieldset>
                        <br>
                        <fieldset id="first_name-field">
                            {{form.first_name.label}}
                            {{form.first_name(class="form-control text-center", placeholder="Enter Your First Name")}}
                        </fieldset>
                        <br>
                        <fieldset id="last_name-field">
                            {{form.last_name.label}}
                            {{form.last_name(class="form-control text-center", placeholder="Enter Your Last Name")}}
                        </fieldset>
                        <br>
                        <fieldset id="password-field">
                            {{form.password.label}}
                            {{form.password(class="form-control text-center", placeholder="Enter Your Password")}}
                        </fieldset>
                        <br>
                        <fieldset id="confirm_password-field">
                            {{form.confirm_password.label}}
                            {{form.confirm_password(class="form-control text-center justify-content-center", placeholder="Confirm Your Password")}}
                        </fieldset>
                        <br>
                        {{form.submit(class="btn btn-block btn-outline-light")}}
                        <br>
                        <small class="text-white">By clicking Sign Up, you agree to our terms of use.</small>
                        <br>
                        <small class="text-white">Never share your username and password!</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
