{% extends 'components/layout.html' %}

{% block title %}Cash on Cash Return Baby{% endblock title %}

{% block content %}

<div class="container">
    <header ul class="nav col-12 col-md-auto justify-content-center">
        <li><a href="{{ url_for('auth.dashboard') }}" class="nav-link px-2 text-light" id="reitext">Rocket Dashboard</a></li>
        <li><a href="{{ url_for('rentalboard') }}" class="nav-link px-2 text-light" id="reitext">Rental Dashboard</a></li>

        </ul>
    </header>
</div>

<div class="container px-4 py-5 text-light" id="icon-grid">
    <img src="../static/images/rentalcalc.png">
</div>

<form method="POST" id="placeinfo">
    {{ form5.hidden_tag() }}
    <div class="container" id="placeinfo">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <fieldset id="totalincome-field">
                    {{ form5.annualcashflow(class="form-control text-center", placeholder="Enter Your Annual Cashflow") }}
                </fieldset>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <fieldset id="totalincome-field">
                    {{ form5.totalinvestment(class="form-control text-center", placeholder="Enter Your Required Investment") }}
                </fieldset>
                <br>
            </div>
        </div>

        <div class="row" id="ressubmit">
            <div class="col-lg-6">
                <h6 class="renttext">Your cash yield on a property investment</h6>
                <fieldset>
                {%if form5%}
                <p class="font-weight-bold font-size:25px text-center" id="results">Cash on Cash Return: {{calc5[0]}}%</p>
                {%endif%}
                <br>
                </fieldset>
                
                <fieldset>
                {{ form5.submit(class="btn submit btn-lg btn-block btn-outline-light text-center") }}
                </fieldset>
            </div>
        </div>
    </div>
    <br>
     <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a class="back btn btn-light btn-lg-3 fw-bold text-light text-center" href="{{ url_for('requiredinvestment') }}"
                    button type="button">
                    <strong>GO BACK!</strong></a>
            </div>
        </div>
    </div>
</form> 

{% endblock content %}