{% extends 'components/layout.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container py-5 text-light" id="icon-grid">
        <img src="../static/images/rocketdash.png">
    </div>

    <div class="container">
        <header ul class="nav col-12 col-md-auto justify-content-center">
                <li><a href="{{ url_for('rentalboard') }}" class="nav-link px-2 text-warning" id="reitext">Rental Dashboard</a></li>
            </ul>
        </header>
    </div>
    
    {% endblock content %}