{% extends 'components/layout.html' %}

{% block title %}Fair Market Rent Analysis{% endblock title %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div class="container px-4 py-5 text-light" id="icon-grid">
        <img src="../static/images/FMR Section.png">
    </div>


    <div class="container">
        <header ul class="nav col-12 col-md-auto justify-content-center">
            <li><a href="{{ url_for('auth.rentalboard') }}" class="nav-link px-2 text-light" id="reitext">Rental Dashboard</a></li>
            </ul>
        </header>
    </div>


    <div id=”chart”>
        <iframe src="http://127.0.0.1:5000/fmr/" width=1100 height=400 frameBorder="0"></iframe>
    </div>
    <br>
    <div id=”chart”>
        <iframe src="http://127.0.0.1:5000/fmr2/" width=1100 height=400 frameBorder="0"></iframe>
    </div>
    <br>
    <div id=”chart”>
        <iframe src="http://127.0.0.1:5000/fmr3/" width=1100 height=400 frameBorder="0"></iframe>
    </div>
    <br>
    <div id=”chart”>
        <iframe src="http://127.0.0.1:5000/fmr4/" width=1100 height=400 frameBorder="0"></iframe>
    </div>
</div>

<br class="py-5">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="../static/images/white.png">
        </div>
    </div>

    <footer class="">
        <ul class="nav justify-content-center">
            <li class="nav-item" id="ftext"><a href="{{ url_for('auth.rentalboard') }}"
                class="nav-link px-2 text-light">Rental Dashboard</a>
            </li>
            <li class="nav-item" id="ftext"><a href="{{ url_for('incexp') }}"
                class="nav-link px-2 text-light">Rental Property
                Calculator</a>
            </li>
            <li class="nav-item" id="ftext"><a href="{{ url_for('auth.profile') }}"
                    class="nav-link px-2 text-light">My Profile</a>
            </li>
           
        </ul>
        <p class="container justify-content-center col-lg-10 fs-4 px-2" id="reitext">Created by <a
                href="https://www.linkedin.com/in/ethannakamura/" id="reitext">@ethannakamura</a>
    </footer>

</div>

{% endblock content %}