{% extends 'components/layout.html' %}

{% block title %}Rental Calculator{% endblock title %}

{% block content %}

    <div class="container">
        <header ul class="nav col-12 col-md-auto justify-content-center">
            <li><a href="{{ url_for('dashboard') }}" class="nav-link px-2 text-warning">Return to My Dashboard</a></li>

            </ul>
        </header>
    </div>


<div class="container px-4 py-5 text-light" id="icon-grid">
    <img src="../static/images/rentalboard.png">
</div>

<div class="container px-4 py-5 text-light" id="icon-grid">
    <img src="../static/images/rentalcalc.png">
</div>


<form method="POST" id="placeinfo">
    {{ form1.hidden_tag() }}
    <div class="container" id="placeinfo">
        <div class="row">
            <div class="col-md-12">
                <fieldset id="rentalincome-field">
                    {{ form1.rentalincome(class="form-control text-center", placeholder="Enter Monthly (Mo.) Rental Income (Cell 1)") }}
                </fieldset>
                <br>

                <fieldset id="miscsvcincome-field">
                    {{ form1.miscsvcincome(class="form-control text-center", placeholder="Enter Other Rental Income (Cell 2) ") }}
                </fieldset>
                <br>
            
            </div>
        </div> 
        <div class="row" id="ressubmit">
            <div class="col-lg-6">
                {%if form1%}
                <p class="font-weight-bold font-size:25px" id="results">Monthy Rental Income: ${{calc1[0]}}</p>
                {%endif%}
                <br>
            </div>
        </div>
        <div class="container" id="placeinfo">
            <div class="row">
                <div class="col-md-12">
                    <fieldset id="proptax-field">
                        {{ form1.proptax(class="form-control text-center", placeholder="Enter Mo. Property Tax (Cell 3)") }}
                    </fieldset>
                    <br>

                    <fieldset id="insurance-field">
                        {{ form1.insurance(class="form-control text-center", placeholder="Enter Mo. Insurance Cost (Cell 4)") }}
                    </fieldset>
                    <br>

                    <fieldset id="watersewer-field">
                        {{ form1.watersewer(class="form-control text-center", placeholder="Enter Mo. Water/Sewer Cost (Cell 5)") }}
                    </fieldset>
                    <br>

                    <fieldset id="garbage-field">
                        {{ form1.garbage(class="form-control text-center", placeholder="Enter Mo. Garbage Cost (Cell 6)") }}
                    </fieldset>
                    <br>

                    <fieldset id="electricity-field">
                        {{ form1.electricity(class="form-control text-center", placeholder="Enter Mo. Electricity Cost (Cell 7)") }}
                    </fieldset>
                    <br>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <fieldset id="gas-field">
                    {{ form1.gas(class="form-control text-center", placeholder="Enter Mo. Gas Cost (Cell 8)") }}
                </fieldset>
                <br>

                <fieldset id="hoafees-field">
                    {{ form1.hoafees(class="form-control text-center", placeholder="Enter Mo. HOA Fees (Cell 9)") }}
                </fieldset>
                <br>

                <fieldset id="lawn-field">
                    {{ form1.lawn(class="form-control text-center", placeholder="Enter Mo. Lawn Maintenance Cost (Cell 10)") }}
                </fieldset>
                <br>

                <fieldset id="vacancy-field">
                    {{ form1.vacancy(class="form-control text-center", placeholder="Enter Mo. Vacancy Savings (Cell 11)") }}
                </fieldset>
                <br>

                <fieldset id="repairs-field">
                    {{ form1.repairs(class="form-control text-center", placeholder="Enter Mo. Repair Savings (Cell 12)") }}
                </fieldset>
                <br>

                <fieldset id="capex-field">
                    {{ form1.capex(class="form-control text-center", placeholder="Enter Mo. Capex Savings (Cell 13)") }}
                </fieldset>
                <br>

                <fieldset id="propmgmt-field">
                    {{ form1.propmgmt(class="form-control text-center", placeholder="Enter Mo. Property Management Cost (Cell 14)") }}
                </fieldset>
                <br>

                <fieldset id="mortgage-field">
                    {{ form1.mortgage(class="form-control text-center", placeholder="Enter Mo. Property Mortgage Cost (Cell 15)") }}
                </fieldset>
                <br>

            </div>
        </div>
        
        <div class="row" id="ressubmit">
            <div class="col-lg-6">
                {%if form1%}
                <p class="font-weight-bold font-size:25px" id="results">Montlhy Rental Expenses: ${{calc1[1]}}</p>
                {%endif%}
                <br>

                {{ form1.submit(class="btn submit btn-lg btn-block btn-outline-light text-center") }}
            </div>
        </div>

        <div class = "container">
            <br class="py-5">
            <div class="row">
                <div class="col-lg-12">
                    <a class="next btn btn-warning btn-lg-3 fw-bold text-white text-center" href="{{ url_for('moincexp') }}" button
                        type="button">
                        <strong>NEXT</strong><br><strong>CALCULATION!</strong></a>
                </div>
            </div>
            <br class="py-5">
            <div class="row">
                <div class="col-lg-12">
                    <img class src="../static/images/orangearrow.png">
                </div>
            </div>
        </div>
    </div>
</form>




{% endblock content %}