{% extends 'components/layout.html' %}

{% block title %}Rental Calculator{% endblock title %}

{% block content %}

<div class="container px-4 py-5 text-light" id="icon-grid">
    <img src="../static/images/rentalcalc.png">
</div>

<div class="container">
    <header ul class="nav col-12 col-md-auto justify-content-center">
        <li><button class="btn-light" id="navinfo"><a href="{{ url_for('auth.rentalboard') }}" class="nav-link px-2 text-light" id="reitext">Rental Dashboard</a></button></li>
    </header>
</div>

<div class="row">
    <div class="col-md-12">
        <br>
        <fieldset id="">
        <h6 id="textinfo">1. EXCLUDE dollar signs($) from all form entries</h6>
        <h6 id="textinfo">2. You CAN enter decimal numbers</h6>
        <h6 id="textinfo">3. All results will ROUND to the nearest number</h6>
        </fieldset>
    </div>
</div>

<form method="POST" id="placeinfo">
    {{ form1.hidden_tag() }}
    <div class="container" id="placeinfo">
        <div class="row">
            <div class="col-md-12">
                <br>
                <fieldset id="rentalincome-field">
                <h6 class="renttext">Any current or projected payment that you receive for the use or occupation of your property</h6>
                    {{ form1.rentalincome(class="form-control text-center", placeholder="Enter Monthly Rental Income") }}
                </fieldset>

                <br>
                <fieldset id="miscsvcincome-field">
                <h6 class="renttext">Any additional income you receive from your tenant for services that you provide them</h6>
                    {{ form1.miscsvcincome(class="form-control text-center", placeholder="Enter Other Rental Income") }}
                </fieldset>
                <br>
            
            </div>
        </div> 
        <div class="row" id="ressubmit">
            <div class="col-lg-6">
                <fieldset>
                {%if form1%}
                <p class="font-weight-bold font-size:25px" id="results">Calculates Monthly Rental Income {{calc1[0]}}</p>
                {%endif%}
                <br>
                </fieldset>
            </div>
        </div>
        <div class="container" id="placeinfo">
            <div class="row">
                <div class="col-md-12">
                    <fieldset id="proptax-field">
                    <h6 class="renttext">Taxes paid to your local government's office based on your property's value and location</h6>
                        {{ form1.proptax(class="form-control text-center", placeholder="Enter Monthly Property Tax") }}
                    </fieldset>
                    <br>
                
                    <fieldset id="insurance-field">
                    <h6 class="renttext">Homeowners insurance that covers losses or damages to the property or assets in the home</h6>
                        {{ form1.insurance(class="form-control text-center", placeholder="Enter Monthly Insurance Cost") }}
                    </fieldset>
                    <br>
                    
                    <fieldset id="watersewer-field">
                    <h6 class="renttext">Water consumption charges or for having a sewer system in place</h6>
                        {{ form1.watersewer(class="form-control text-center", placeholder="Enter Monthly Water/Sewer Cost") }}
                    </fieldset>
                    <br>
                    
                    <fieldset id="garbage-field">
                    <h6 class="renttext">Waste management removal services provided by an outside company</h6>
                        {{ form1.garbage(class="form-control text-center", placeholder="Enter Monthly Garbage Cost") }}
                    </fieldset>
                    <br>
                    
                    <fieldset id="electricity-field">
                    <h6 class="renttext">Monthly electric company invoice for owed electricity energy at your property</h6>
                        {{ form1.electricity(class="form-control text-center", placeholder="Enter Monthly Electricity Cost") }}
                    </fieldset>
                    <br>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <fieldset id="gas-field">
                <h6 class="renttext">May be lumped with your electiricity invoice, if not please fill out below</h6>
                    {{ form1.gas(class="form-control text-center", placeholder="Enter Monthly Gas Cost") }}
                </fieldset>
                <br>

                <fieldset id="hoafees-field">
                <h6 class="renttext">Dues paid to a Homeowners Association (HOA) for property owners/tenants living in an HOA community</h6>
                    {{ form1.hoafees(class="form-control text-center", placeholder="Enter Monthly HOA Fees") }}
                </fieldset>
                <br>
                
                <fieldset id="lawn-field">
                <h6 class="renttext">Cost of seasonal lawncare if this is not maintained by a tenant</h6>
                    {{ form1.lawn(class="form-control text-center", placeholder="Enter Monthly Lawn Maintenance Cost") }}
                </fieldset>
                <br>

                <fieldset id="vacancy-field">
                <h6 class="renttext">Save 3-10% of gross monthly rent, vacancies are properties without a tenant, research vacancies in your investment area</h6>
                    {{ form1.vacancy(class="form-control text-center", placeholder="Enter Monthly Vacancy Savings") }}
                </fieldset>
                <br>
                
                <fieldset id="repairs-field">
                <h6 class="renttext">Save 5-15% of your gross monthly rent as this is the average cost of most general tenant-inquiries for repairs</h6>
                    {{ form1.repairs(class="form-control text-center", placeholder="Enter Monthly Repair Savings") }}
                </fieldset>
                <br>
                
                <fieldset id="capex-field">
                <h6 class="renttext">Save 5-15% of your gross monthly rent for capital expenditures, these are less than frequent property imporovements (roof, plumbing, etc.)</h6>
                    {{ form1.capex(class="form-control text-center", placeholder="Enter Monthly Capex Savings") }}
                </fieldset>
                <br>

                <fieldset id="propmgmt-field">
                <h6 class="renttext">Fees owed to your property manager, if applicalbe, for managing your property and immediate tenant concerns</h6>
                    {{ form1.propmgmt(class="form-control text-center", placeholder="Enter Monthly Property Management Cost") }}
                </fieldset>
                <br>

                <fieldset id="mortgage-field">
                <h6 class="renttext">Payment owed to your financial institution for assisting you in financing your residential home purchase</h6>
                    {{ form1.mortgage(class="form-control text-center", placeholder="Enter Monthly Property Mortgage Cost") }}
                </fieldset>
                <br>

            </div>
        </div>
        
        <div class="row" id="ressubmit">
            <div class="rentalforms col-lg-6">
                <fieldset>
                {%if form1%}
                <p class="font-weight-bold font-size:25px" id="results">Calculates Monthly Rental Expenses {{calc1[1]}}</p>
                {%endif%}
                <br>
                </fieldset>
                <fieldset>
                {{ form1.submit(class="btn submit btn-lg btn-block btn-outline-light text-center") }}
                </fieldset>
            </div>
        </div>

        <div class="py-5">

        </div>

        <!--<div class = "container">
            <br class="py-5">
            <div class="row">
                <div class="col-lg-12">
                    <a class="next btn btn-light btn-lg-3 fw-bold text-white text-center" href="{{ url_for('moincexp') }}" button
                        type="button">
                        <strong>NEXT CALCULATION!</strong></a>
                </div>
            </div>
        </div>-->
    </div>
</form>

<br class="py-5">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="../static/images/white.png">
        </div>
    </div>

    <footer class="">
        <ul class="nav justify-content-center">
            <li class="nav-item" id="ftext"><a href="{{ url_for('auth.rentalboard') }}"
                class="nav-link px-2 text-light">Rental Dashboard</a>
            </li>
            <li class="nav-item" id="ftext"><a href="{{ url_for('incexp') }}"
                class="nav-link px-2 text-light">Rental Investment
                Calculator</a>
            </li>
            <li class="nav-item" id="ftext"><a href="{{ url_for('auth.profile') }}"
                    class="nav-link px-2 text-light">My Profile</a>
            </li>
           
        </ul>
        <p class="container justify-content-center col-lg-10 fs-4 px-2" id="reitext">Created by <a
                href="https://www.linkedin.com/in/ethannakamura/"  id="reitext">@ethannakamura</a>
    </footer>

</div>



{% endblock content %}