{% extends 'components/layout.html' %}

{% block title %}©ROCKETREI{% endblock title %}

{% block content %}


<main class="container-fluid mx-auto text-white">
    <br>
    <div class="row">
        <div class="col-lg-12" id="header">
            <img src="../static/images/linkrocket.png">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12" id="header">
            <img src="../static/images/header.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="handshake">
            <img src="../static/images/handshake.png">
        </div>
    </div>

    <br>
    <br>

    <div class="yes btn btn-danger btn-lg fw-bold">
        <a class="text-white text-center" id="arrows" href="{{ url_for('auth.signup') }}" button type="button">
            <strong>I WANT TO SHOOT</strong><br><strong>FOR THE STARS!</strong></a>
    </div>
    <br>
    <br>
    <div class="arrow">
        <img src="../static/images/orangearrow.png">
    </div>

    <div class="row">
        <div class="col-lg-6">
            <img src="../static/images/bizgoals.png">
        </div>
        <div class="col-lg-6">
            <img src="../static/images/access.png">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12">
            <img class="my-5" src="../static/images/verification.png">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12">
            <img class="my-3" src="../static/images/policy.png">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img class="my-5" src="../static/images/approved.png">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img class="my-3" src="../static/images/access2.png">
        </div>
    </div>

    <div class="container justify-content-center">
        <div class="py-5">
            <img src="../static/images/rocketdash.png">
        </div>
    </div>

    <div class="row">
        <div class="end col-lg-12">
            <img src="../static/images/ending.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <img src="../static/images/man.png">
        </div>
        <div class="col-lg-2" id="join">
            <a class="end btn btn-warning btn-lg-3 fw-bold my-5 text-white" href="{{ url_for('auth.signup') }}" button
                type="button">
                <strong>I WANT TO BECOME</strong><br><strong>AN INVESTONAUT!</strong></a>
            <img src="../static/images/orangearrow.png">
        </div>

        <div class="col-lg-5">
            <img src="../static/images/woman.png">
        </div>
    </div>

    <div class="container">
        <footer class="">
            <ul class="nav justify-content-center mt-5">
                <li class="nav-item" id="ftext"><a href="{{ url_for('home') }}" class="nav-link px-2 text-danger">Home
                    </a>
                </li>
                <li class="nav-item" id="ftext"><a href="{{ url_for('dashboard') }}"
                        class="nav-link px-2 text-danger">Rocket Dashboard</a>
                </li>
                <li class="nav-item" id="ftext"><a href="{{ url_for('api.apidata') }}"
                        class="nav-link px-2 text-danger">Api</a>
                </li>
                <li class="nav-item" id="ftext"><a href="{{ url_for('auth.signup') }}"
                        class="nav-link px-2 text-danger">Sign
                        Up</a>
                </li>
                <li class="nav-item" id="ftext"><a href="{{ url_for('auth.login') }}"
                        class="nav-link px-2 text-danger">Login</a>
                </li>
                <li class="nav-item" id="ftext"><a href="{{ url_for('auth.logout') }}"
                        class="nav-link px-2 text-danger">Logout</a>
                </li>
            </ul>
            <p class="container justify-content-center col-lg-10 fs-4 px-2 text-warning" id="ptext">Created by <a
                    href="https://www.linkedin.com/in/ethannakamura/" class="text-warning">@ethannakamura</a>
        </footer>
    </div>

</main>

{% endblock content %}