{% extends 'components/layout.html' %}

{% block title %}©ROCKETREI{% endblock title %}

{% block content %}

<main class="container-fluid mx-auto text-white">
    <br>

    <div class="row">
        <div class="col-lg-12 py-5" id="workcircle">
            <img src="../static/images/workcircle.png">
        </div>
    </div>

    <br>

    <div class="yes btn btn-light btn-lg fw-bold">
        <a class="text-light text-center" id="arrows" href="{{ url_for('auth.signup') }}" button type="button">
            <strong>I WANT TO BECOME</strong><br><strong>AN INVESTONAUT!</strong></a>
    </div>
    <br>
    <br>

    <div class="row my-5">
        <div class="col-lg-12" id="workcircle">
            <img src="../static/images/access.png">
        </div>
    </div>

    <div class="row my-2">
        <div class="col-lg-12" id="">
            <img src="../static/images/rentalcalc.png">
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-lg-12" id="">
            <h6 class="indextext">Find Properties That ARE Deals!</h6>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12" id="">
            <img class="imgcalc" src="../static/images/income.png">
            <img class="imgcalc" src="../static/images/investment.png">
            <img class="imgcalc" src="../static/images/expenses.png">
        </div>
    </div>
    <br>

    <div class="row my-5">
        <div class="col-lg-12" id="">
            <img src="../static/images/insights.png">
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-12" id="">
            <h6 class="indextext">Become A PRO At Analyzing ANY Market!</h6>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <img class="plot" src="../static/images/index plot.png">
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-12" id="">
            <h6 class="indextext">Analayze Markets By State AND County!</h6>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <img class="plot" src="../static/images/indexplot2.png">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12" id="">
            <h6 class="indextext">Start Planning With Our Business Plan!</h6>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <img class="bizplan" src="../static/images/bizplan.png">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="../static/images/white.png">
            </div>
        </div>

        <footer class="">
            <ul class="nav justify-content-center">
                <li class="nav-item" id="ftext"><a href="{{ url_for('home') }}" class="nav-link px-2 text-white">Home
                    </a>
                </li>
                <li class="nav-item" id="ftext"><a href="{{ url_for('auth.dashboard') }}"
                        class="nav-link px-2 text-light">Rocket Dashboard</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item" id="ftext"><a href="{{ url_for('auth.profile') }}"
                        class="nav-link px-2 text-light">My Profile</a>
                </li>
                <li class="nav-item" id="ftext"><a href="{{ url_for('auth.logout') }}"
                        class="nav-link px-2 text-light">Logout</a>
                </li>
                {% else %}
                <li class="nav-item" id="ftext"><a href="{{ url_for('auth.signup') }}"
                        class="nav-link px-2 text-light">Sign
                        Up</a>
                </li>
                <li class="nav-item" id="ftext"><a href="{{ url_for('auth.signin') }}"
                        class="nav-link px-2 text-light">Login</a>
                </li>
                {% endif %}

            </ul>
            <p class="linkedin container justify-content-center col-lg-10 fs-4 px-2" id="reitext">Created by <a
                    href="https://www.linkedin.com/in/ethannakamura/" id="reitext">@ethannakamura</a>
        </footer>
    </div>

</main>

{% endblock content %}