{% extends 'components/layout.html' %}

{% block title %}My Dashboard{% endblock title %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container px-4 py-5 text-light" id="icon-grid">
        <img src="../static/images/rentalboard.png">
    </div>

    <div class="container">
        <header ul class="nav col-12 col-md-auto mb-2 justify-content-center">
            <li><a href="{{ url_for('dashboard') }}" class="nav-link px-2 text-warning">Return to My Dashboard</a></li>

            </ul>
        </header>
    </div>

    <br>
    <div class="btn-toolbar justify-content-center">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-med btn-outline-danger">Export</button>
        </div>
    </div>
    <div class="container text-white">
        <div class="mx-auto">
            <form method="POST" class="p-4 p-md-5 rounded-1">

                <!--Coding Options #2 and #3 use Form for jinja statements-->
                <!--Coding Option #1 use Form and Form2 for two separate divs with different 
                    fieldsets and jinja form statements-->
                {{ form.hidden_tag() }}
                <div class="container id=placeinfo">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <fieldset id="rentalincome-field">
                                    {{ form.rentalincome(class="form-control text-center", placeholder="Enter Monthly Rental Income") }}
                                </fieldset>
                                <br>
                                <fieldset id="miscsvcincome-field">
                                    {{ form.miscsvcincome(class="form-control text-center", placeholder="Enter Monthly Miscellaneous Income") }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    {%if form%}
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-warning font-weight-bolder font-size:25px" id="results">Your Total Monthy Rental Income is: {{calc1[0]}}</p>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    <div class="row">
                        <div class="col-6">
                            <br>
                            <fieldset id="proptax-field">
                                {{ form.proptax(class="form-control text-center", placeholder="Enter Monthly Property Tax Cost")
                                }}
                            </fieldset>
                            <br>
                            <fieldset id="insurance-field">
                                {{ form.insurance(class="form-control text-center", placeholder="Enter Monthly Insurance Cost")
                                }}
                            </fieldset>
                        </div>
                    </div>
                    <br>
                    <div class = "container">
                        <div class = "row">
                            <div class="col-6">
                                {{ form.submit(class="btn btn-block btn-outline-light") }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <!--Coding Option #4 THIS WORKED
                        Create one list for each calculation, call them by index-->
                    {%if form%}
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-warning font-weight-bolder font-size:25px" id="results">Your Total Monthy Expenses is: {{calc1[1]}}</p>
                            </div>
                        </div>
                    </div>
                    {%endif%}

                    <!--Results option-->
                    <!--Coding Option #3 THIS WORKED

                        Create two separate lists one for each calculation
                        <p>Your Total Monthy Rental Income is: {{calc1}}</p>
                        <p>Your Total Monthy Expenses is: {{calc2}}</p>

                        Coding Option #2
                        <p>Your Total Monthy Rental Income is: {{calc1[0]}}</p>
                        <p>Your Total Monthy Expenses is: {{calc1[1]}}</p>

                        Coding Option #1
                        <p>Your Total Monthy Rental Income is: {{tmi2}}</p>
                        <p>Your Total Monthy Expenses is: {{tim3}}</p>-->
                </div>
            </form>
        </div>
    </div>
{% endblock content %}