{% extends 'components/layout.html' %}

{% block title %}Required Investment{% endblock title %}

{% block content %}

<div class="container px-4 py-5 text-light" id="icon-grid">
    <img src="../static/images/rentalcalc.png">
</div>

<div class="container">
    <header ul class="nav col-12 col-md-auto justify-content-center">
        <li><button class="btn-light" id="navinfo"><a href="{{ url_for('auth.rentalboard') }}" class="nav-link px-2 text-light" id="reitext">Rental Dashboard</a></button></li>
        </ul>
    </header>
</div>

<br>

<form method="POST" id="placeinfo">
    {{ form4.hidden_tag() }}
    <div class="container" id="placeinfo">
        <div class="row">
            <div class="col-lg-12">
                <fieldset id="annualcashflow-field">
                    {{ form4.annualcashflow(class="form-control text-center", placeholder="Enter Your Annual Cashflow") }}
                </fieldset>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"> 
                <fieldset> 
                    {%if form4%}
                    <p class="font-weight-bold font-size:25px text-center" id="results">Calculates Annual Cashflow {{calc4[0]}}</p>
                    {%endif%}
                </fieldsset>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <fieldset id="totalincome-field">
                    <h6 class="renttext">A required percentage of up front money owed to your financial lender upon closing on your approved home loan</h6>
                    {{ form4.downpayment(class="form-control text-center", placeholder="Enter Your Down Payment") }}
                </fieldset>
                <br>

                <fieldset  id="totalexpenses-field">
                    <h6 class="renttext">Real esate transaction fees incurred by the seller and buyer during a transaction. You will pay 1-2% of your homes purchase price,
                        if unsure you may calculate using 1.5%</h6>
                    {{ form4.closingcosts(class="form-control text-center", placeholder="Enter Your Closing Costs") }}
                </fieldset>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <fieldset id="totalincome-field">
                    <h6 class="renttext">The total amount of capital required to fix up a property to meet current market standards, create suitable living conditions for
                        for future tenants, and to maximize the return on investment</h6>
                    {{ form4.rehabbudget(class="form-control text-center", placeholder="Enter Your Rehab Budget") }}
                </fieldset>
                <br>

                <fieldset  id="totalexpenses-field">
                    <h6 class="renttext">Additional capital, above the estimate rehab budget, that can be used if unforeseen repairs are required</h6>
                    {{ form4.contingencyfund(class="form-control text-center", placeholder="Enter Your Contingency Fund") }}
                </fieldset>
                <br>
            </div>
        </div>
        <div class="row" id="ressubmit">
            <div class="col-lg-6">
                <fieldset> 
                <h6 class="renttext">The minimum capital required to own this property as an investment</h6>
                {%if form4%}
                <p class="font-weight-bold font-size:25px text-center" id="results">Calculates Your Required Investment {{calc4[1]}}</p>
                {%endif%}
                <br>
                </fieldsset>
                <fieldset> 
                {{ form4.submit(class="btn submit btn-lg btn-block btn-outline-light text-center") }}
                </fieldset>
            </div>
        </div>

        <div class="container">
            <br class="py-5">
        
            <div class="row">
                <div class="col-lg-12">
                    <a class="back btn btn-light btn-lg-3 fw-bold text-light text-center" href="{{ url_for('mocashflow') }}"
                        button type="button">
                        <strong>GO BACK!</strong></a>
                    <!--<a class="next btn btn-light btn-lg-3 fw-bold text-white text-center" href="{{ url_for('cashoncash') }}"
                        button type="button">
                        <strong>NEXT CALCULATION!</strong></a>-->
                </div>
            </div>
        </div>

        <div class="py-5">

        </div>
    </div>
</form> 

<br class="py-5">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="../static/images/white.png">
        </div>
    </div>

    <footer class="">
        <ul class="nav justify-content-center">
            <li class="nav-item" id="ftext"><a href="{{ url_for('auth.rentalboard') }}"
                class="nav-link px-2 text-light">Rental Dashboard</a>
            </li>
            <li class="nav-item" id="ftext"><a href="{{ url_for('auth.profile') }}"
                    class="nav-link px-2 text-light">My Profile</a>
            </li>
           
        </ul>
        <p class="container justify-content-center col-lg-10 fs-4 px-2 " id="reitext">Created by <a
                href="https://www.linkedin.com/in/ethannakamura/" id="reitext">@ethannakamura</a>
    </footer>

</div>

{% endblock content %}