{% extends 'components/layout.html' %}

{% block title %}Required Investment{% endblock title %}

{% block content %}

<div class="container">
    <header ul class="nav col-12 col-md-auto justify-content-center">
        <li><a href="{{ url_for('dashboard') }}" class="nav-link px-2 text-warning" id="reitext">Return to My Dashboard</a></li>

        </ul>
    </header>
</div>

<div class="container px-4 py-5 text-light" id="icon-grid">
    <img src="../static/images/rentalboard.png">
</div>

<!--Place Submit Form Code Here From incexp.html-->

<form method="POST" id="placeinfo">
    {{ form4.hidden_tag() }}
    <div class="container" id="placeinfo">
        <div class="row">
            <div class="col-lg-12">
                <fieldset id="totalincome-field">
                    {{ form4.downpayment(class="form-control text-center", placeholder="Enter Your Down Payment") }}
                </fieldset>
                <br>
    
                <fieldset  id="totalexpenses-field">
                    {{ form4.closingcosts(class="form-control text-center", placeholder="Enter Your Closing Costs") }}
                </fieldset>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <fieldset id="totalincome-field">
                    {{ form4.rehabbudget(class="form-control text-center", placeholder="Enter Your Rehab Budget") }}
                </fieldset>
                <br>
    
                <fieldset  id="totalexpenses-field">
                    {{ form4.contingencyfund(class="form-control text-center", placeholder="Enter Your Contingency Fund") }}
                </fieldset>
                <br>
            </div>
        </div>
        <div class="row" id="ressubmit">
            <div class="col-lg-6">
                <div>
                {%if form4%}
                <p class="font-weight-bold font-size:25px text-center" id="results">Your Required Investment: ${{calc4[0]}}</p>
                {%endif%}
                <br>

                {{ form4.submit(class="btn submit btn-lg btn-block btn-outline-light text-center") }}
                </div>
            </div>
        </div>

        <div class="container">
            <br class="py-5">
        
            <div class="row">
                <div class="col-lg-12">
                    <a class="back btn btn-light btn-lg-3 fw-bold text-white text-center" href="{{ url_for('mocashflow') }}"
                        button type="button">
                        <strong>GO BACK!</strong></a>
                    <a class="next btn btn-light btn-lg-3 fw-bold text-white text-center" href="{{ url_for('cashoncash') }}"
                        button type="button">
                        <strong>NEXT CALCULATION!</strong></a>
                </div>
            </div>
        </div>
    </div>
</form> 

{% endblock content %}